<div class="page">
  <div class="container">
    <form class="form">
      <img class="loginprofile" src="../../../../assets/undraw_pic_profile_re_7g2h.svg" alt="Image of a profile">
      <h1>Login</h1>
  
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput>
        <mat-icon matIconSuffix>alternate_email</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off">
        <mat-icon matIconSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
  
      <h4 class="button">Login</h4>
  
      <p class="goregister">Doesn't have an account? Create one <span [routerLink]="'/register'">here!</span></p>
    </form>
  
  </div>
  <div class="left-side">
    <h1>Welcome back to SureService</h1>
    <img id="logo" class="logo" [src]="logo" alt="Image of the logo">
    <p>{{info}}</p>
    <div class="changeimage">
      <div class="leftarrow" (click)="leftChange()"></div>
      <div class="rightarrow" (click)="rightChange()"></div>
    </div>
    <h4 class="button button2" [routerLink]="'/register'">Or go to register</h4>
  </div>
</div>
<div class="something">

</div>