@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{
    --mainFont: #3F51B5;
    --secondaryFont: #1f3ad6;
    --button: #1537F2;
    --white: #ffffff;
    --colorMain: rgba(21, 55, 242, 1);
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.bodyOnAll, .bodyWidth{
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}

.bodyOnAll{
    margin-left: 350px;
}

.bodyWidth{
    margin-left: 120px;
}

.bodyMobile{
    margin-left: 0;
}

.OnLoginRegisterBody{
    margin: 0;
}